:root {
  --color-button: #1b0760;
  --color-white: #fff;
  --color-lightpurple: #8268ab;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  max-width: 400px;
}
.form-input {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 18px;
  width: 100%;
}
.button {
  border-radius: 40px;
  border: 1px solid var(--color-button);
  color: var(--color-button);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.18s;
}
button:hover {
  background-color: var(--color-button);
  color: var(--color-white);
}
.navigation ul {
  list-style-type: none;
  font-size: 1rem;
}
.navigation li a {
  text-decoration: none;
  font-size: 1.1rem;
}

.navigation li a:hover {
  color: var(--color-lightpurple);
}
table td a:hover {
  color: var(--color-lightpurple);
}
